/* PageNotFound */
.divPNF{
  background: #4a4e89;
    padding-bottom: 10%;
    padding-top: 5%;
    display: grid;
    justify-items: center;

    
}
.divPNF h1{
   
    font-size: 300%;
    color: violet;
    margin-bottom: 3em;

}

/* Inicio Nav */

nav{
    
    background: #cdb4db;
    padding:2em;
    width: 100%;

}
.divBig{
    width:50em;
     display: grid;
    grid-template-columns: repeat(7, 1fr);  /* para meter en linea elementos */
    grid-template-rows: 35px;

}

.divBig a{
    color: white;
}

.divBig  a:hover{
  color: yellow;
}

.divBig  a:active{
  color: red;
}

.divNav a {
    margin-left: 1em;
}

.divNav{
 width: 30em;
 display: grid;
    grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 20px;
 margin: 0 auto;
}
.navButton1{
    justify-items: start;
    margin-right: 4em;
    border-radius: 20%;
    padding:1em;
    padding-bottom: 1em;
    background: blue;
    color: white;
    border: solid blue;
}

.navButton1:active{
    border: solid yellow;
   color: yellow;

}

.navButton2{
    justify-items: end;
    margin-left: 2em;
     border-radius: 20%;
    padding:1em;
    padding-bottom: 1em;
    background: red;
    color: white;
    border: solid red;
}
.navButton2:active{
  border: solid yellow;
  color: yellow;

}

/* @media */
@media screen and (min-width: 800px) {

.navButton2{
    justify-items: end;
    margin-left: 15em;
 }
}

@media screen and (min-width: 1200px) {
.navButton2{
    justify-items: end;
    margin-left: 35em;
 }
}


@media screen and (min-width: 1400px) {

.navButton1{
    justify-items: start;
    margin-right: 25em;
 }
}
